<nav class="nav" role="navigation">
  <div class="nav__left">
    <div class="nav__logo">{{ 'HEADER.LOGO' | translate }}</div>
    <div class="nav__container">
      <ul class="nav__links">
        @if (currentPath() === '/') {
          <li class="nav__item">
            <a class="nav__link" href="#home">{{
              'HEADER.HOME' | translate
            }}</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">{{
              'HEADER.ABOUT' | translate
            }}</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#projects">{{
              'HEADER.PROJECTS' | translate
            }}</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contact">{{
              'HEADER.CONTACT' | translate
            }}</a>
          </li>
        } @else {
          <li class="nav__item">
            <a class="nav__link" routerLink="/">{{
              'HEADER.HOME' | translate
            }}</a>
          </li>
        }
        @if (authService.isLoggedIn()) {
          <li class="nav__item">
            <a class="nav__link" routerLink="/animations">{{
              'HEADER.ANIMATIONS' | translate
            }}</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/layouts">{{
              'HEADER.LAYOUTS' | translate
            }}</a>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="nav__right">
    <div
      class="nav__language-switcher"
      (mouseenter)="onMouseEnterLanguage()"
      (mouseleave)="onMouseLeaveLanguage()"
    >
      <button class="nav__language-btn">
        {{ currentLanguage.toUpperCase() }}
      </button>
      @if (showDropdown) {
        <ul
          class="nav__language-dropdown"
          (animationend)="onAnimationEnd()"
          [ngClass]="{ 'fade-in': dropdownOpen, 'fade-out': !dropdownOpen }"
        >
          @for (lang of languages; track lang.code) {
            <li class="nav__language-item" (click)="changeLanguage(lang.code)">
              {{ lang.code.toUpperCase() }}
            </li>
          }
        </ul>
      }
    </div>
    @if (!authService.isLoggedIn()) {
      <a class="nav__icon nav__login" routerLink="/login" title="Login">
        <img src="assets/icons/logIn.svg" alt="Log In" />
      </a>
    } @else {
      <a
        class="nav__item nav__admin nav__svg"
        aria-label="Admin"
        routerLink="/admin"
      >
        <img src="assets/icons/admin.svg" alt="Admin" />
      </a>
      <button
        class="nav__item nav__logout nav__svg"
        aria-label="Log out"
        (click)="logout()"
      >
        <img src="assets/icons/logout.svg" alt="Log Out" />
      </button>
    }
    <a
      class="nav__svg nav__linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/micha%C5%82-krzy%C5%BCowski-74b860211/"
    >
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
  </div>
</nav>
