<nav class="nav">
  <div class="nav__left">
    <div class="nav__logo">MK</div>
    <div class="nav__container">
      <ul class="nav__links">
        <li class="nav__item">
          <a class="nav__link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#projects">Projects</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav__right">
    <a class="nav__icon nav__login" href="/login" title="Login">
      <img src="assets/icons/logIn.svg" alt="Log In" />
    </a>
    <a
      class="nav__svg nav__linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/micha%C5%82-krzy%C5%BCowski-74b860211/"
    >
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
  </div>
</nav>
