@use 'assets/styles/variables' as *;

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: background 3s ease;

  &__content {
    text-align: center;
    color: $color-text;
    z-index: 2;
    padding: 5rem;
  }

  &__text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 400;
    text-shadow: 0 0 10px rgba($color-primary, 0.8);
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 1s ease,
      transform 1s ease;
  }

  &__scroll-indicator {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: $color-primary;
    animation: bounce 2s infinite;
    z-index: 2;
    cursor: pointer;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    opacity: 1;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(
    to bottom,
    rgba($color-background, 0.1) 60%,
    rgba($color-background, 0.3) 80%,
    rgba($color-background, 1) 100%
  );
}

.bg-0 {
  background-image: url('/assets/images/hero/backgroundMoon.png');
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background-image: url('/assets/images/hero/backgroundMars.png');
  background-size: cover;
  background-position: center;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
