<div class="hero-wrapper">
  <section class="hero" [ngClass]="[hasEntered ? 'hero--entered' : '']">
    <div
      class="hero__bg hero__bg--0"
      [class.hero__bg--visible]="currentBackground === 'bg-0'"
    ></div>
    <div
      class="hero__bg hero__bg--1"
      [class.hero__bg--visible]="currentBackground === 'bg-1'"
    ></div>
    <div class="hero__content">
      <h1
        class="hero__text"
        [ngClass]="{ visible: isTextVisible, hidden: !isTextVisible }"
      >
        {{ currentMessage | translate }}
      </h1>
    </div>
    <div
      class="hero__scroll-indicator"
      [class.hidden]="isArrowScrollHidden"
      (click)="scrollToNextSection()"
    >
      ↓
    </div>
  </section>
</div>
