<div class="hero-wrapper">
  <section
    class="hero"
    [ngClass]="[currentBackground, hasEntered ? 'hero--entered' : '']"
  >
    <div class="hero__content">
      <h1
        class="hero__text"
        [ngClass]="{ visible: isTextVisible, hidden: !isTextVisible }"
      >
        {{ currentMessage | translate }}
      </h1>
    </div>
    <div
      class="hero__scroll-indicator"
      [class.hidden]="isArrowScrollHidden"
      (click)="scrollToNextSection()"
    >
      ↓
    </div>
  </section>
</div>
