@use 'assets/styles/variables' as *;

.projects {
  padding: 4rem 2rem;
  background-color: $color-background;
  color: #fff;
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__card {
    background-color: #111;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid rgba($color-primary, 0.2);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: none;

    &.scroll-animate {
      transition:
        opacity 0.75s ease 0.5s,
        transform 0.75s ease 0.5s;
    }

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.3rem;
    color: $color-primary;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1rem;
    white-space: pre-line;
  }

  &__link {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $color-primary;
    }
  }
}
