<nav class="nav" role="navigation">
  <div class="nav__left">
    <button
      class="nav__burger"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [class.nav__burger--open]="mobileMenuOpen()"
    >
      <img
        [src]="
          mobileMenuOpen()
            ? 'assets/icons/cross.svg'
            : 'assets/icons/burger.svg'
        "
        alt="burger menu icon"
        aria-hidden="true"
      />
    </button>
    <div class="nav__logo">{{ 'HEADER.LOGO' | translate }}</div>
    <div class="nav__container">
      <ul
        class="nav__links"
        [ngClass]="{ 'nav__links--open': mobileMenuOpen() }"
      >
        <li class="nav__item">
          <a
            class="nav__link"
            routerLink="/"
            fragment="home"
            [class.nav__link--active]="activeSection() === 'home'"
            (click)="closeMenu()"
          >{{
            'HEADER.HOME' | translate
          }}</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            routerLink="/"
            fragment="about"
            [class.nav__link--active]="activeSection() === 'about'"
            (click)="closeMenu()"
          >{{
            'HEADER.ABOUT' | translate
          }}</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            routerLink="/"
            fragment="projects"
            [class.nav__link--active]="activeSection() === 'projects'"
            (click)="closeMenu()"
          >{{
            'HEADER.PROJECTS' | translate
          }}</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            routerLink="/"
            fragment="contact"
            [class.nav__link--active]="activeSection() === 'contact'"
            (click)="closeMenu()"
          >{{
            'HEADER.CONTACT' | translate
          }}</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            routerLink="/blog"
            [class.nav__link--active]="activeSection() === 'blog'"
            (click)="closeMenu()"
          >{{
            'HEADER.BLOG' | translate
          }}</a>
        </li>
        @if (isLoggedIn()) {
          <li class="nav__item">
            <a
              class="nav__link"
              routerLink="/animations"
              [class.nav__link--active]="activeSection() === 'animations'"
              (click)="closeMenu()"
            >{{
              'HEADER.ANIMATIONS' | translate
            }}</a>
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              routerLink="/layouts"
              [class.nav__link--active]="activeSection() === 'layouts'"
              (click)="closeMenu()"
            >{{
              'HEADER.LAYOUTS' | translate
            }}</a>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="nav__right">
    <div
      class="nav__language-switcher"
      (mouseenter)="onMouseEnterLanguage()"
      (mouseleave)="onMouseLeaveLanguage()"
    >
      <button class="nav__language-btn">
        {{ currentLanguageSig().toUpperCase() }}
      </button>
      @if (showDropdownSig()) {
        <ul
          class="nav__language-dropdown"
          (animationend)="onAnimationEnd()"
          [ngClass]="{
            'fade-in': dropdownOpenSig(),
            'fade-out': !dropdownOpenSig()
          }"
        >
          @for (lang of languages; track lang.code) {
            <li class="nav__language-item" (click)="changeLanguage(lang.code)">
              {{ lang.code.toUpperCase() }}
            </li>
          }
        </ul>
      }
    </div>
    @if (!isLoggedIn()) {
      <a class="nav__icon nav__login" routerLink="/login" title="Login">
        <img src="assets/icons/logIn.svg" alt="Log In" />
      </a>
    } @else {
      <a
        class="nav__item nav__admin nav__svg"
        aria-label="Admin"
        routerLink="/admin"
      >
        <img src="assets/icons/admin.svg" alt="Admin" />
      </a>
      <button
        class="nav__item nav__logout nav__svg"
        aria-label="Log out"
        (click)="logout()"
      >
        <img src="assets/icons/logout.svg" alt="Log Out" />
      </button>
    }
    <a
      class="nav__svg nav__linkedin"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/micha%C5%82-krzy%C5%BCowski-74b860211/"
    >
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
    </a>
  </div>
</nav>
