<section class="projects" id="projects">
  <div class="projects__grid">
    @for (card of projects; track card) {
      <div
        class="projects__card scroll-animate"
        appScrollReveal
        [revealClass]="'active'"
      >
        @if (card.icon) {
          <img
            src="{{ 'assets/icons/' + card.icon }}"
            alt="{{ card.title | translate }}"
            class="projects__icon"
          />
        }
        <h3 class="projects__title">{{ card.title | translate }}</h3>
        <p class="projects__description">
          {{ card.description | translate }}
        </p>
        @if (card.link) {
          <a class="projects__link" [href]="card.link" target="_blank">
            {{ card.linkDescription | translate }}
          </a>
        }
      </div>
    }
  </div>
</section>
