@use 'assets/styles/variables' as *;

.contact {
  background: $color-background;
  color: $color-text;
  padding: 1rem 2rem;

  .contact {
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      font-size: 2rem;
      color: $color-primary;
      margin-bottom: 1rem;
    }
    p,
    a,
    .social a {
      font-size: 1rem;
      color: #ccc;
    }
    .social {
      margin-top: 1rem;
      a {
        margin: 0 0.5rem;
      }
    }
    form {
      max-width: 500px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;

      input,
      textarea {
        padding: 0.75rem;
        border: 1px solid #333;
        border-radius: 4px;
        background: $color-background;
        color: $color-text;
      }

      input.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-touched {
        border-color: $color-accent-warn;
      }

      button {
        background: $color-primary;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
      }

      .error {
        small {
          color: $color-accent-warn;
        }
      }

      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
