<section class="login-page">
  <div class="login-page__overlay"></div>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="login-page__form"
    novalidate
  >
    <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

    <label class="login-page__label">
      <span>{{ 'LOGIN.EMAIL' | translate }}</span>
      <input type="email" formControlName="email" class="login-page__input" />
      @if (email.touched && email.errors) {
        <div class="login-page__error">
          @if (email.errors['required']) {
            <span>{{ 'LOGIN.REQUIRED' | translate }}</span>
          }
        </div>
      }
    </label>

    <label class="login-page__label">
      <span>{{ 'LOGIN.PASSWORD' | translate }}</span>
      <input
        type="password"
        formControlName="password"
        class="login-page__input"
      />
      @if (password.touched && password.errors) {
        <div class="login-page__error">
          @if (password.errors['required']) {
            <span>{{ 'LOGIN.REQUIRED' | translate }}</span>
          }
        </div>
      }
    </label>

    <button type="submit" [disabled]="form.invalid" class="login-page__submit">
      {{ 'LOGIN.SUBMIT' | translate }}
    </button>
  </form>
</section>
