@use 'assets/styles/variables' as *;

body {
  background-color: $color-background;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a:focus,
button:focus {
  outline: none;
  border: 1px solid #0ff;
  box-shadow: 0 0 5px #0ff;
  background: rgba(0, 255, 255, 0.1);
}
